body { margin: 0; }
path {fill: #fff;}
path:hover {fill: #ccc;}
.ignore { pointer-events: none; }
.area-label {font-size: 28px;}
.capitol-label { font-size: 20px; text-transform: uppercase; }
.territory-label { font-size: 16px; }
.small-label { font-size: 15px; }